body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    color: rgb(99, 20, 173);
    background-color: rgb(221, 222, 223);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

th{
    background-color: rgb(55, 172, 250);
    border: 2px,black;
}

.tabla{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px,black;
}

tr:hover{
    background-color: blueviolet;
    cursor: cell;
}