
body{
    background-color: bisque;
}
#titulo{
    color: rgb(99, 20, 173);
    background-color: rgb(221, 222, 223);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;

}

#titulo2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.cajas{
    display: flex;
    font-family: 'Times New Roman', Times, serif;

    
}

.caja1{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}

.caja2{
    display: flex;
    justify-content:center;
    flex-direction: column
}

.caja3{
    display: flex;
    justify-content:flex-end;
    flex-direction: column
}